<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>manipulate text utility</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <!-- <link rel="stylesheet" href="styles/main.css"> -->
    <!-- endbuild -->
    <link href="styles/style.css" rel="stylesheet">
  </head>
  <body ng-app="manipulateTextApp">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="header">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h1>
              <a href="/#/">
                <img src="images/logo.png" class="logo">Manipulate text </a>
            </h1>
          </div>
          <!-- col -->
        </div>
        <!-- row -->
      </div>
      <!-- container -->
    </div>

    <div style="margin-bottom: 20px;"></div>

    <div class="container">
      <div class="row">
        <div class="col-sm-2" ng-controller="CategoryCtrl">
          <div class="submenu panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">CATEGORIES</h3>
            </div>
            <div class="panel-body">
              <ul class="nav nav-pills nav-stacked">
                <li><a href="#/sql" ng-class="{selected: isCategorySelected('SQL')}" id="category-sql">SQL</a></li>
                <li><a href="#/log" ng-class="{selected: isCategorySelected('LOG')}" id="category-log">LOG</a></li>
                <li><a href="#/others" ng-class="{selected: isCategorySelected('Others')}" id="category-others">Others</a></li>
              </ul>
            </div>
          </div>

          <div class="panel-heading">
            <h3 class="panel-title">Text History</h3>
          </div>
          <div class="submenu panel panel-default list-group">
            <ul class="nav nav-pills nav-stacked">
              <button type="button" class="list-group-item" ng-repeat="hist in history" ng-click="restoreTextFromHistory(hist)">
                {{hist.substr(0, 30)}}</a>
            </ul>
          </div>

        </div>
        <!-- col -->

        <div class="col-sm-10">
          <div class="entry">
            <div ng-view></div>
          </div>
        </div>

        <!-- col -->
      </div>
      <!-- row -->
    </div>
    <!-- container -->

    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <p>Copy right &copy; FC cart team</p>
          </div>
          <!-- col -->
        </div>
        <!-- row -->
      </div>
      <!-- container -->
    </div>


    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/category.js"></script>
        <script src="scripts/controllers/log.js"></script>
        <script src="scripts/controllers/sql.js"></script>
        <script src="scripts/controllers/others.js"></script>
        <script src="scripts/services/categoryservice.js"></script>
        <script src="scripts/services/logfilterservice.js"></script>
        <script src="scripts/services/historyservice.js"></script>
        <script src="scripts/services/textareaservice.js"></script>
        <script src="scripts/services/sortservice.js"></script>
        <script src="scripts/controllers/routing.js"></script>
        <script src="scripts/services/sqlservice.js"></script>
        <!-- endbuild -->
</body>
</html>
