<h4>LOG</h4>
<div class="added">
  <form ng-controller="LogfilterCtrl">
    <textarea class="form-control" ng-model="logText" rows="20"></textarea>

    <div class="button-area form-inline">
      <button class="btn btn-success btn-lg" id="btn-log-filter" type="button" ng-click="submitLogFilter()" type="submit">Filter</button>
      <button class="btn btn-success btn-xs" type="button">Clear text</button>
      <div class="form-group">
        <input class="form-control" id="exampleInputName2" placeholder="RegExp" type="text">
      </div>
      <label class="radio-inline">
        <input checked="checked" id="inlineRadio1" name="inlineRadioOptions" type="radio" value="option1">
        contain
      </label>
      <label class="radio-inline">
        <input id="inlineRadio2" name="inlineRadioOptions" type="radio" value="option2">
        not contain
      </label>
    </div>
  </form>
</div>
