<h4>LOG</h4>
<div class="added">
  <form ng-controller="LogCtrl">
    <textarea class="form-control" ng-model="logText" rows="20"></textarea>

    <div class="button-area form-inline">
      <button class="btn btn-success btn-lg" id="btn-log-filter" type="button" ng-click="submitLogFilter()" type="submit">Filter</button>
      <button class="btn btn-success btn-xs" type="button">Clear text</button>
      <div class="form-group">
        <input class="form-control" id="log-regexp" placeholder="filter" type="text" ng-model="logRegexp">
      </div>
      <label class="radio-inline">
        <input id="log-contains" type="radio" ng-value="true" ng-model="logContains" ng-checked="logContains">
        contain
      </label>
      <label class="radio-inline">
        <input id="log-not-contains" type="radio" ng-value="false" ng-model="logContains" ng-checked="!logContains">
        not contain
      </label>
    </div>
  </form>
</div>
