<h4>SQL</h4>
<div class="added">
  <textarea class="form-control" rows="20"></textarea>

  <div class="button-area">
    <button type="button" class="btn btn-success btn-lg">Where in</button>
    <button type="button" class="btn btn-success btn-xs">Clear text</button>
    <label class="radio-inline">
      <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" checked="checked"> auto
    </label>
    <label class="radio-inline">
      <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> quotation
    </label>
    <label class="radio-inline">
      <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> not quotation
    </label>
  </div>
</div>
