<h4>SQL</h4>
<div class="added">
  <form ng-controller="SqlCtrl">
    <textarea class="form-control" ng-model="sqlText" rows="20"></textarea>

    <div class="button-area form-inline">
      <button class="btn btn-success btn-lg" id="btn-wherein" type="button" ng-click="submitWhereIn()" type="submit">Where in</button>
      <label class="radio-inline">
        <input id="quotation-auto" type="radio" ng-value="0" ng-model="quotation" ng-checked="quotation===0">
        auto
      </label>
      <label class="radio-inline">
        <input id="quotation-does" type="radio" ng-value="1" ng-model="quotation" ng-checked="quotation===1">
        quotation
      </label>
      <label class="radio-inline">
        <input id="quotation-not" type="radio" ng-value="2" ng-model="quotation" ng-checked="quotation===2">
        quotationnot
      </label>
    </div>
  </form>
</div>
